@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Titillium+Web:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
hr {
  display: block;
  height: 0.2px;
  width: 600px;
  border: 0.2px solid white;
  margin: 1em 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #3bb64b;
}

ul {
  padding-top: 100px;
  list-style-type: none;
  padding-left: 20px;
  font-size: 30px;
}
/*********************************************** Container *************************************/

.container {
  font-family: "Dongle", sans-serif;
  background: url("./assets/bg2.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*********************************************** Header *************************************/

header {
  float: left;
}
header logo {
  height: 80px;
}

header .logo h1 {
  padding-left: 50px;
  font-weight: bold;
  font-size: 50px;
}
/*********************************************** Navbar *************************************/
nav {
  top: 0;
  right: 0;
  position: absolute;
}

nav h2 {
  color: #3bb64b;
}

.menubar {
  padding-top: 20px;
  display: flex;
  padding-right: 50px;
  align-items: center;
  gap: 10px;
}
.menuToggle {
  background-color: #111010;
  width: 300px;
  height: 100vh;
  transition: var(600ms);
}
.menuToggle .menubartoggle {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding-right: 20px;
}
.menuToggle .menubartoggle h2 {
  padding-left: 20px;
  font-size: 60px;
}
.nav i {
  cursor: pointer;
}
.toggle {
  display: none;
}

/*********************************************** Showcase *************************************/

.container .showcase {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.container .showcase .heading h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #646464;
}
.container .showcase .content {
  width: 800px;
  line-height: 1.5;
  font-size: 50px;
}
.container .showbuttons {
  padding-top: 20px;
}
.container .showbuttons button {
  margin-right: 20px;
  text-transform: uppercase;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
}
.container .showbuttons button:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
  transition-duration: 0.5s;
}
/*********************************************** about *************************************/

.about {
  font-family: "Titillium Web", sans-serif;
  background-color: #3bb64b;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 60px;
}
.about h2 {
  font-size: 100px;
}
.about p {
  width: 1200px;
  font-size: 40px;
}
/*********************************************** services ************************************/

.services {
  font-family: "Titillium Web", sans-serif;
  background-color: white;
  height: 900px;
}
.services h1 {
  color: #3bb64b;
}
/*********************************************** contact *************************************/

#contact-container {
  font-family: "Titillium Web", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #1b1b1a;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

footer {
  background: #111010;
  height: 400px;
}

/* Green : #3bb64b
footer: #111010

bg #1b1b1a


*/
